:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html {
  --main-bg-color: #ecf0f3;
  --main-text-color: #a0a5a8;
  --main-title-color: #181818;
  --main-border: 1px solid #a0a5a8;
  --btn-bg-color: #4b70e2;
  --btn-box-shadow: 8px 8px 16px #d1d9e6, -8px -8px 16px #f9f9f9;

  --main-box-shadow-lg: 10px 10px 10px #d1d9e6, -10px -10px 10px #f9f9f9;
  --main-box-shadow-md: 8px 8px 12px #d1d9e6, -8px -8px 12px #f9f9f9;
  --main-box-shadow-md-in: inset 8px 8px 12px #d1d9e6, inset -8px -8px 12px #f9f9f9;
  --main-box-shadow-sm: 4px 4px 10px #d1d9e6, -4px -4px 10px #f9f9f9;
  --main-box-shadow-sm-in: inset 4px 4px 8px #d1d9e6, inset -4px -4px 8px #f9f9f9;
  --main-box-shadow-xs: 2px 2px 4px #d1d9e6, -2px -2px 4px #f9f9f9;
  --main-box-shadow-xs-in: inset 2px 2px 4px #d1d9e6, inset -2px -2px 4px #f9f9f9;
}

html {
  font-family: Roboto, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  border: 0;
  background-color: var(--main-bg-color);
}

* {
  box-sizing: border-box;
}
