.el-table {
  box-shadow: var(--main-box-shadow-lg);
}

.el-table__body {
  border-collapse: collapse;
}

.el-table__row {
  background-color: var(--main-bg-color);
  border-top: 0.125rem solid #e7e7e7;
  border-bottom: 0.125rem solid #fdfdfd;
}
.el-table th.el-table__cell {
  /* background: transparent; */
  background-color: var(--main-bg-color);
}
.el-table tr {
  background-color: var(--main-bg-color);
  border-top: 0.125rem solid #e7e7e7;
  border-bottom: 0.125rem solid #fdfdfd;
  height: 50px;
}
.el-table__body tr:hover > td.el-table__cell {
  border-top: 0.125rem solid #e3e3e3;
  border-bottom: 0.125rem solid #fdfdfd;
}

.el-table__empty-block {
  background: var(--main-bg-color);
}

.el-table__cell.table-header {
  background-color: var(--main-bg-color);
  box-shadow: inset 3px 3px 5px #f9f9f9, inset -3px -2px 1px #c9c9c9;
}
