.el-card {
  background-color: var(--main-bg-color);
  border: none;
}

.el-divider--horizontal {
  /* border-top: 2px var(--el-border-color) var(--el-border-style); */
  border-bottom: 1px #ffffff var(--el-border-style);
}
