#login-page {
  overflow: hidden;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
}
.login {
  position: relative;
  width: 1000px;
  min-width: 1000px;
  min-height: 600px;
  height: 600px;
  padding: 25px;
  background-color: var(--main-bg-color);
  box-shadow: var(--main-box-shadow-lg);
  border-radius: 12px;
  overflow: hidden;
}

.login .switch {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 400px;
  padding: 50px;
  z-index: 200;
  transition: 1.25s;
  background-color: var(--main-bg-color);
  overflow: hidden;
  box-shadow: var(--main-box-shadow-sm);
}
.login .switch__circle {
  position: absolute;
  width: 500px;
  height: 500px;
  border-radius: 50%;
  background-color: var(--main-bg-color);
  box-shadow: var(--main-box-shadow-md-in);
  bottom: -60%;
  left: -60%;
  transition: 1.25s;
}
.switch__circle--t {
  top: -30%;
  left: 60%;
  width: 300px;
  height: 300px;
}

.login .el-dialog {
  background-color: var(--main-bg-color);
  box-shadow: var(--main-box-shadow-xs);
  border-radius: 15px !important;
}

.switch__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  width: 400px;
  padding: 50px 55px;
  transition: 1.25s;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  width: 600px;
  height: 100%;
  padding: 25px;
  background-color: var(--main-bg-color);
  transition: 1.25s;
}
.card1 {
  z-index: 100;
  left: calc(100% - 600px);
}

.card2 {
  z-index: 0;
  left: calc(100% - 600px);
}
.title {
  font-size: 34px;
  font-weight: 700;
  line-height: 3;
  color: var(--main-title-color);
}
.description {
  font-size: 14px;
  letter-spacing: 0.25px;
  line-height: 1.6;
  text-align: left;
  text-indent: 2em;
}
.forgot-password {
  /* border-bottom: 1px solid #9b9b9b69; */
  color: var(--main-title-color);
  font-size: 15px;
  margin-top: 25px;
  border-bottom: var(--main-border);
  line-height: 2;
}
.is-hidden {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  transition: 1.25s;
}

.login .is-txr {
  left: calc(100% - 400px);
  transition: 1.25s;
  transform-origin: left;
}
.is-txl {
  left: 0;
  transition: 1.25s;
  transform-origin: right;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  transition: 1.25s;
}
.is-z200 {
  z-index: 200;
  transition: 1.25s;
}
